<h1>My tasks</h1>
<ul>
<% @tasks.each do |task| %>
  <li>[<%="X" if task.completed == true%>] <%= link_to task.title, task_path(task) %> <%= link_to "X", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %></li>
<% end  %>
</ul>

<%= link_to "new task", new_task_path %>